<!DOCTYPE html>
<html lang="pt">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>FoodFy - O melhor site de Receitas sss.</title>
    </head>

    <body>

        <section class="container">

            <header>
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>
                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                </div>
            </header>

            {% block content %}{% endblock %}

        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    Fechar Modal
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <div class="footer">
            <p>
                Todos direitos Reservados / FoodFy</p>

        </div>

        <script src="scripts.js"></script>

    </body>

</html>