{% extends "layout.html" %}

{% block content %}

    <section class="cards">
       <div class="card">
            <div class="card-img-container">
                <img src="img/pizza.png" alt="Videos Aulas">
            </div>
            <div class="card-title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-cheff">
                <p>por Juliano Lanzi</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img-container">
                <img src="/img/asinhas.png" alt="Videos Aulas">
            </div>
            <div class="card-title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-cheff">
                <p>por Juliano Lanzi</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img-container">
                <img src="img/burger.png" alt="Videos Aulas">
            </div>
            <div class="card-title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-cheff">
                <p>por Juliano Lanzi</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img-container">
                <img src="img/doce.png" alt="Videos Aulas">
            </div>
            <div class="card-title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-cheff">
                <p>por Juliano Lanzi</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img-container">
                <img src="img/espaguete.png" alt="Videos Aulas">
            </div>
            <div class="card-title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-cheff">
                <p>por Juliano Lanzi</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img-container">
                <img src="img/lasanha.png" alt="Videos Aulas">
            </div>
            <div class="card-title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-cheff">
                <p>por Juliano Lanzi</p>
            </div>
        </div>
    </section>
    <section class="cards">
        <div class="card">
             <div class="card-img-container">
                 <img src="img/pizza.png" alt="Videos Aulas">
             </div>
             <div class="card-title">
                 <p>Pizza 4 estações</p>
             </div>
             <div class="card-cheff">
                 <p>por Juliano Lanzi</p>
             </div>
         </div>
         <div class="card">
             <div class="card-img-container">
                 <img src="img/asinhas.png" alt="Videos Aulas">
             </div>
             <div class="card-title">
                 <p>Pizza 4 estações</p>
             </div>
             <div class="card-cheff">
                 <p>por Juliano Lanzi</p>
             </div>
         </div>
         <div class="card">
             <div class="card-img-container">
                 <img src="img/burger.png" alt="Videos Aulas">
             </div>
             <div class="card-title">
                 <p>Pizza 4 estações</p>
             </div>
             <div class="card-cheff">
                 <p>por Juliano Lanzi</p>
             </div>
         </div>
         <div class="card">
             <div class="card-img-container">
                 <img src="img/doce.png" alt="Videos Aulas">
             </div>
             <div class="card-title">
                 <p>Pizza 4 estações</p>
             </div>
             <div class="card-cheff">
                 <p>por Juliano Lanzi</p>
             </div>
         </div>
         <div class="card">
             <div class="card-img-container">
                 <img src="img/espaguete.png" alt="Videos Aulas">
             </div>
             <div class="card-title">
                 <p>Pizza 4 estações</p>
             </div>
             <div class="card-cheff">
                 <p>por Juliano Lanzi</p>
             </div>
         </div>
         <div class="card">
             <div class="card-img-container">
                 <img src="img/lasanha.png" alt="Videos Aulas">
             </div>
             <div class="card-title">
                 <p>Pizza 4 estações</p>
             </div>
             <div class="card-cheff">
                 <p>por Juliano Lanzi</p>
             </div>
         </div>
        
     </section>
    
     {% endblock %}