{% extends "admin/layout.njk" %}

{%block head%}
    <title>
        Admin FoodFy - Criando receita</title>
    {%endblock%}

    {% block content %}

        <form action="/admin/recipes" method="POST">
            <section class="container-tb">
                <div class="container-t">
                    <h1>Criando receita</h1>
                </div>
                <div class="container-bt">
                    <button class="btn">
                        <i class="fas fa-save"></i>
                        Salvar receita</button>
                </div>
            </section>

            <section class="fields">
                <div class="item">
                    <p>Imagem da receita</p>
                    <div>
                        <input type="text" name="imagem_url" placeholder="http://" value="{{recipe.imagem_url}}">
                    </div>
                </div>

                <div class="item">
                    <p>Titulo</p>
                    <div>
                        <input type="text" name="title" placeholder="Titulo" value=" {{recipe.title}}">
                    </div>
                </div>

                <div class="item">
                    <p>Autor</p>
                    <div>
                        <input type="text" name="autor" placeholder="Autor" value="{{recipe.autor}}">
                    </div>
                </div>

                <div id="ingredients" class="item">
                    <p>Ingredientes</p>
                   
                        <div class="ingredient">

                            <input type="text" name="ingredients[]" placeholder="Ingrediente" value="{{ingredient}}"/>

                        </div>
                        

                    </div>

                    <button type="button" class="add-input" name="ingredient">Adicionar Ingrediente</button>

                    <div id="preparation" class="item">
                        <p>Preparação</p>
                        
                            <div class="step">
                                <input type="text" name="preparation[]" placeholder="Passo" value="{{prepara}}"/>
                            </div>
                            

                        </div>

                        <button type="button" class="add-input" name="step">Aicionar novo passo</button>

                        <div class="item">
                            <p>Informações adicionais</p>
                            <div>
                                <textarea class="item-descricao"  type="text" name="description" class="item-descricao" cols="30" rows="10" >{{recipe.description}}</textarea>
                            </div>
                        </div>
                    </section>

                </form>

                {%endblock%}