{% extends "admin/layout.njk" %}

{%block head%}
    <title>
        Admin FoodFy - Gerenciar Receitas</title>
    {%endblock%}

    {% block content %}

        <section class="container-tb">
            <div class="container-t">
                <h1>Gerenciar Receitas</h1>
            </div>
            <div class="container-bt">
                <button class="btn"><i class="fas fa-save"></i> Salvar receita</button>
                <button class="btn red"><i class="fas fa-trash-alt"></i> Excluir</button>
            </div>
        </section>

        <div class="cards">
                <div class="card grid-template-areas">
                    <div class="card-img"><img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt=""></div>
                    <div class="card-title"> <p>Triplo bacon burger</p></div>
                    <div class="cardby"> <p>por Jorge Relato</p></div>
                    <div class="link"><a href="#">Visualizar</a></div>

                </div>
                 <div class="card grid-template-areas">
                    <div class="card-img"><img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt=""></div>
                    <div class="card-title"> <p>Triplo bacon burger</p></div>
                    <div class="cardby"> <p>por Jorge Relato</p></div>
                    <div class="link"><a href="#">Visualizar</a></div>

                </div>
                 <div class="card grid-template-areas">
                    <div class="card-img"><img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt=""></div>
                    <div class="card-title"> <p>Triplo bacon burger</p></div>
                    <div class="cardby"> <p>por Jorge Relato</p></div>
                    <div class="link"><a href="#">Visualizar</a></div>

                </div>
                 <div class="card grid-template-areas">
                    <div class="card-img"><img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt=""></div>
                    <div class="card-title"> <p>Triplo bacon burger</p></div>
                    <div class="cardby"> <p>por Jorge Relato</p></div>
                    <div class="card-link"><a href="#">Visualizar</a></div>

                </div>

            </div>

    {% endblock %}