<!DOCTYPE html>
<html lang="pt">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         {% block head %}{% endblock %}
    </head>

    <body>

        <section class="container">

            <header>
                <div class="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>
                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                    
                </div>
            </header>

            {% block content %}{% endblock %}

        </section>

        

        <div class="footer">
            <p>
                Todos direitos Reservados / FoodFy <a href="/admin/recipes">Admin</a></p>

        </div>

        <script src="scripts.js"></script>

    </body>

</html>