{% extends "web/layout.njk" %}

{%block head%}
    <title>FoodFy - Receitas</title>
{%endblock%}

{% block content %}

        <section class="cards">

            {% for recipe in recipes %}
                <div class="card" id="{{recipes.id}}">
                    <div class="card-img-container">
                        <img width="600px" height="280px" src="{{recipe.imagem_url}}" alt="Videos Aulas">
                    </div>
                    <div class="card-title">
                        <p>{{recipe.title}}</p>
                    </div>
                    <div class="card-cheff">
                        <p>por
                            {{recipe.autor}}</p>
                    </div>
                </div>

                {%endfor%}

            </section>

{% endblock %}